<!--SKY HTML-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    {% include "navbar/cust_navbar.html" %}
    {% include "customer/customerBase.html" %}
    <!--FAVOURITES-->
    <div class="container-md mt-sm-5 mt-4 mb-5">
      <h2 class="fw-bold">Favourites</h2>

      <div class="container mt-sm-5 mt-4 p-0">
        <div class="row align-items-center">
          <div class="col">
            <div class="card fav-card">
              <img
                src="../../static/images/beach.png"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body p-2">
                <div
                  class="d-flex align-items-center justify-content-between my-2"
                >
                  <h5 class="fw-bold">Post Name</h5>
                  <i
                    class="fa-solid fa-heart fa-xl mx-3 icon-heart"
                  ></i>
                </div>
                <p class="card-text mt-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias non sint tempore rerum provident voluptates quisquam, praesentium perspiciatis nulla. Pariatur minima quibusdam qui eveniet deleniti autem magni ea quae soluta.</p>
                <p class="card-text">Written by: User</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--FAVOURITES-->
  </body>
</html>
