<!--SKY HTML-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    {% include "navbar/cust_navbar.html" %}
    {% include "customer/customerBase.html" %}
    <!--MESSAGE-->
    <div class="container-md mt-sm-5 mt-4">
      <!--MESSAGE TOP-->
      <div class="container px-0">
        <h2 class="fw-bold mb-5">Messages</h2>

        <div
          class="d-md-flex d-block align-items-center justify-content-between dm-users-searchbar"
        >
          <!--DM SEARCHBAR-->
          <div class="search-container">
            <input
              class="form-control"
              type="search"
              placeholder="Search messages"
              aria-label="Search"
            />
            <i class="fa-solid fa-magnifying-glass icon-dark"></i>
          </div>
          <!--DM SEARCHBAR-->

          <!--DM DROPDOWN-->
          <div class="dropdown-center">
            <button
              class="btn btn-rose dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Inbox
            </button>
            <ul class="dropdown-menu bg-rose dm-user-dropdown">
              <li><a class="dropdown-item p-light" href="#">Inbox</a></li>
              <li><a class="dropdown-item p-light" href="#">Sent</a></li>
              <li><a class="dropdown-item p-light" href="#">Unread</a></li>
              <li><a class="dropdown-item p-light" href="#">Archive</a></li>
              <li><a class="dropdown-item p-light" href="#">Spam</a></li>
              <li><a class="dropdown-item p-light" href="#">All</a></li>
            </ul>
          </div>
          <!--DM DROPDOWN-->
        </div>
      </div>
      <!--MESSAGE TOP-->

      <div class="container dm-users-container bg-light">
        <hr class="hr-nomargin" />
        <!--MESSAGE-->
        <a href="{{ url_for('messaging.messages') }}">
          <div class="row align-items-center px-md-5 px-2 dm-user">
            <div class="col-auto">
              <i class="fa-solid fa-user fa-2xl icon-dark"></i>
            </div>
            <div class="col-md-auto col">
              <div>
                <p>Username</p>
                <p>January 10, 2024</p>
              </div>
            </div>
            <div class="col-md col-auto">
              <p class="short-text">
                Absolutely! Your post was so insightful and well-written. You're
                doing such a fantastitic sharing about sustainable living.
              </p>
            </div>
            <div class="col-auto">
              <button class="btn btn-secondary">Archive</button>
            </div>
          </div></a
        >
        <!--MESSAGE-->
      </div>
    </div>
    <!--MESSAGE-->
  </body>
</html>
