/*body.dark {
  background-color: #232946;
  color: #b8c1ec;
}

body.light {
  background-color: #dcd6f7;
  color: #4e4c67;
}*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #dcd6f7;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0 !important;
  color: #4e4c67;
}

a {
  text-decoration: none;
}

i {
  cursor: pointer;
}

/*NAVBAR CONTAINER*/
nav {
  background-color: #4e4c67;
}

nav .navbar-brand,
nav .navbar-brand:hover,
nav .navbar-brand:focus,
nav .navbar-brand:active {
  color: #ffffff;
  font-weight: bold;
  font-size: 40px;
}

nav .search-container {
  position: relative;
  width: 100%;
}

nav .search-container input[type="search"] {
  padding: 10px 40px 10px 20px;
  width: 100%;
  border: black;
  border-radius: 50px;
  box-shadow: none;
  appearance: none;
}

nav .search-container .fa-solid {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.search-container input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

.search-container input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

.search-container input[type="search"]::placeholder,
.search-container .fa-solid,
.dropdown-item {
  color: #4e4c67;
}

@media only screen and (min-width: 992px) {
  nav .dropdown:hover .dropdown-menu {
    display: block;
  }
}

.dropdown-menu {
  min-width: 0;
  background-color: #a6b1e1;
}

/*NAVBAR CONTAINER*/

/*POINTS SHOP CONTAINER*/
.container-title {
  background-color: #a6b1e1;
  height: 55px;
}

.container-title h4 {
  font-weight: bold;
  margin-left: 100px;
}

#points-balance {
  margin-right: 100px;
}

@media only screen and (max-width: 576px) {
  .container-title {
    height: 70px;
  }

  .container-title h4 {
    margin-left: 20px;
  }

  #points-balance {
    margin-right: 20px;
  }
}

/*POINTS SHOP CONTAINER*/

/*DONATE TOP*/
#donate-container {
  color: #4e4c67;
}

#see-all-btn {
  background-color: #b4869f;
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.left-btn,
.right-btn {
  cursor: pointer;
}

/*DONATE TOP*/

/*CARDS CONTAINER*/
.card {
  background-color: #ffffff;
  height: 300px;
  cursor: pointer;
}

.card img {
  height: 150px;
  object-fit: cover;
  object-position: 50% 20%;
}

.card-title {
  height: 50px;
  color: #4e4c67;
}

.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 320px) {
  .card {
    height: 250px;
  }

  .card-title {
    height: 70px;
    font-size: 1.1rem;
  }

  .card-text {
    display: none;
    font-size: 1rem;
  }
}

#price {
  color: #985F6F;
}

/*CARDS CONTAINER*/

/*MODEL CONTAINER*/
.modal-header {
  display: flex;
  justify-content: center;
  padding: 0;
}

.modal-header img {
  position: relative;
  border-radius: 5px 5px 0px 0px;
}

.modal-header button {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #ffffff;
}

/*MODEL CONTAINER*/

/*CARD BUTTONS*/
#points-modals .form-check-input {
  display: none;
}

.custom-radio-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid #b4869f;
  color: #4e4c67;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}

.form-check-input:hover+.custom-radio-button {
  background-color: #985F6F;
  color: #ffffff;
}

.form-check-input:checked+.custom-radio-button {
  background-color: #985F6F;
  color: #ffffff;
}

#next-btn,
#donate-btn {
  background-color: #a6b1e1;
  color: #4e4c67;
}

/*CARD BUTTONS*/

/*CHECKMARK ANIMATION*/
.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #4CAF50;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #4CAF50;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0
  }
}

@keyframes scale {

  0%,
  100% {
    transform: none
  }

  50% {
    transform: scale3d(1.1, 1.1, 1)
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #4CAF50
  }
}

/*CHECKMARK ANIMATION*/

/*MESSAGE TOP*/
#message-container .search-container {
  position: relative;
  width: 40%;
}

@media only screen and (max-width: 768px) {
  #message-container .search-container {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
  }
}


#message-container .search-container input[type="search"] {
  padding: 10px 40px 10px 20px;
  width: 100%;
  border: black;
  box-shadow: none;
  appearance: none;
}

#message-container .search-container .fa-solid {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

#dm-dropdown {
  background-color: #985f68;
  color: #ffffff;
  border: none;
}

#dm-dropdown-menu {
  background-color: #985f68;
  border: none;
}

#dm-dropdown-menu a {
  color: #ffffff;
}

#dm-dropdown-menu a:hover {
  background-color: #b4869f;
}

/*MESSAGE TOP*/

/*MESSAGES CONTAINER*/
#messages {
  border: 1px solid black;
  background-color: #ffffff;
  margin-top: 100px;
}

#message {
  padding: 20px;
}

#message p {
  color: #4e4c67;
}

#message #message-short {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

#message .btn {
  border: 1px solid black;
  color: #4e4c67;
}

@media only screen and (max-width: 768px) {
  #messages {
    margin-top: 20px;
  }

  #message #message-short {
    margin-top: 10px;
  }

  #message .btn {
    margin-top: 10px;
  }
}

/*MESSAGES CONTAINER*/

/*CHAT TOP*/
#chat-top .btn {
  border-radius: 0;
  padding: 10px 20px;
  color: #ffffff;
  background-color: #985f68;
}

/*CHAT TOP*/

/*CHAT CONTAINER*/
#chat-btn-container {
  background-color: #a6b1e1;
  padding: 15px 10px;
}

#chat-btn-container .btn {
  border-radius: 0;
  margin-right: 10px;
  padding: 5px 10px;
}

#archive-btn,
#unread-btn {
  color: #4e4c67;
  background-color: #ffffff;
}

#spam-btn {
  color: #ffffff;
  background-color: #4e4c67;
}

/*CHAT CONTAINER*/

/*MESSAGES CONTAINER*/
#message {
  padding: 20px;
  background-color: #ffffff;
}

#message p {
  color: #4e4c67;
}

#message #message-short {
  margin-top: 20px;
}

/*MESSAGES CONTAINER*/

/*CHAT REPLY CONTAINER*/
#chat-reply-container {
  background-color: #a6b1e1;
}

#reply-message .form-control:focus {
  border: black;
  box-shadow: none;
  appearance: none;
  outline: none;
}

#send-btn {
  background-color: #985f68;
  color: #ffffff;
}

/*CHAT REPLY CONTAINER*/

/*FAVOURITES CONTAINER*/
#fav-container .card {
  height: 300px;
  max-width: 200px;
  cursor: pointer;
}

#fav-container .card img {
  height: 200px;
  object-fit: cover;
  object-position: 50% 20%;
}

#fav-container .card-body {
  background-color: transparent;
}

#fav-container .card-title {
  color: #4e4c67;
}

.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*FAVOURITES CONTAINER*/

/*VOUCHERS CONTAINER*/
#vou-container .card {
  height: 300px;
  max-width: 200px;
  cursor: pointer;
}

#vou-container .card img {
  height: 200px;
  object-fit: cover;
  object-position: 50% 20%;
}

#vou-container .card-body {
  background-color: transparent;
}

#vou-container .card-title {
  height: auto;
  color: #4e4c67;
}

/*VOUCHERS CONTAINER*/

/*LOGIN CUST*/
#login-top,
#signup-top {
  width: 100%;
}

#remember-me {
  width: 100%;
}

@media only screen and (min-device-width : 992px) {

  #login-top,
  #signup-top {
    width: 60%;
  }

}

@media only screen and (min-device-width : 480px) and (max-device-width : 992px) {

  #login-top,
  #signup-top {
    width: 70%;
  }

}

#recaptcha {
  width: 220px;
  height: 60px;
  background-color: #4e4c67;
  color: #ffffff;
}

#login-btn,
#signup-btn {
  background-color: #985f6f;
  color: #ffffff;
  width: 200px;
}

#facebook-btn,
#apple-btn,
#microsoft-btn,
#google-btn {
  background-color: #4e4c67;
  height: 60px;
  width: 250px;
}

#apple-btn,
#google-btn {
  margin-left: auto;
}

#phone-input {
  margin-left: 20px;
  width: 60%;
}

@media only screen and (max-width: 578px) {

  #facebook-btn,
  #apple-btn,
  #microsoft-btn,
  #google-btn {
    margin: auto;
  }

  #phone-input {
    margin: auto;
    width: 100%;
  }

}

/*LOGIN CUST*/