<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    {% include "navbar/sidebar.html" %}

    <div id="admin-content-wrapper">
      <h1 class="fw-bold my-3">User management</h1>

      <!--DM SEARCHBAR-->
      <div class="search-container my-4">
        <input
          class="form-control"
          type="search"
          placeholder="Search users"
          aria-label="Search"
        />
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
      <!--DM SEARCHBAR-->

      <!--TABLE-->
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Username</th>
              <th scope="col">Phone number</th>
              <th scope="col">Email</th>
              <th scope="col">Password</th>
              <th scope="col">Role</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>12345678</td>
              <td>mark@gmail.com</td>
              <td>Mark@123</td>
              <td>User</td>
              <td>
                <div class="d-flex justify-content-between">
                  <i class="fa-solid fa-pen-to-square"></i>
                  <i class="fa-solid fa-trash"></i>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>86554454</td>
              <td>jacob@gmail.com</td>
              <td>jacob@123</td>
              <td>User</td>
              <td>
                <div class="d-flex justify-content-between">
                  <i class="fa-solid fa-pen-to-square"></i>
                  <i class="fa-solid fa-trash"></i>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Johnny</td>
              <td>95782944</td>
              <td>johnny@gmail.com</td>
              <td>johnny@123</td>
              <td>User</td>
              <td>
                <div class="d-flex justify-content-between">
                  <i class="fa-solid fa-pen-to-square"></i>
                  <i class="fa-solid fa-trash"></i>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>12345678</td>
              <td>mark@gmail.com</td>
              <td>Mark@123</td>
              <td>User</td>
              <td>
                <div class="d-flex justify-content-between">
                  <i class="fa-solid fa-pen-to-square"></i>
                  <i class="fa-solid fa-trash"></i>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>86554454</td>
              <td>jacob@gmail.com</td>
              <td>jacob@123</td>
              <td>User</td>
              <td>
                <div class="d-flex justify-content-between">
                  <i class="fa-solid fa-pen-to-square"></i>
                  <i class="fa-solid fa-trash"></i>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Johnny</td>
              <td>95782944</td>
              <td>johnny@gmail.com</td>
              <td>johnny@123</td>
              <td>User</td>
              <td>
                <div class="d-flex justify-content-between">
                  <i class="fa-solid fa-pen-to-square"></i>
                  <i class="fa-solid fa-trash"></i>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>12345678</td>
              <td>mark@gmail.com</td>
              <td>Mark@123</td>
              <td>User</td>
              <td>
                <div class="d-flex justify-content-between">
                  <i class="fa-solid fa-pen-to-square"></i>
                  <i class="fa-solid fa-trash"></i>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>86554454</td>
              <td>jacob@gmail.com</td>
              <td>jacob@123</td>
              <td>User</td>
              <td>
                <div class="d-flex justify-content-between">
                  <i class="fa-solid fa-pen-to-square"></i>
                  <i class="fa-solid fa-trash"></i>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Johnny</td>
              <td>95782944</td>
              <td>johnny@gmail.com</td>
              <td>johnny@123</td>
              <td>User</td>
              <td>
                <div class="d-flex justify-content-between">
                  <i class="fa-solid fa-pen-to-square"></i>
                  <i class="fa-solid fa-trash"></i>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Johnny</td>
              <td>95782944</td>
              <td>johnny@gmail.com</td>
              <td>johnny@123</td>
              <td>User</td>
              <td>
                <div class="d-flex justify-content-between">
                  <i class="fa-solid fa-pen-to-square"></i>
                  <i class="fa-solid fa-trash"></i>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--TABLE-->
    </div>
  </body>
</html>
