<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>User management</title>

    <!--MY JS-->
    <script
      src="{{ url_for('static', filename='js/user_management.js') }}"
      defer
    ></script>
    <!--MY JS-->
  </head>
  <body>
    {% extends 'navbar/admin_sidebar.html' %}

    {% block content %}

    <!--USER MANAGEMENT-->
    <div class="container">
      <h1 class="fw-bold my-3">User management</h1>

      <!--DM SEARCHBAR-->
      <div class="search-container my-4">
        <input
          class="form-control"
          type="search"
          placeholder="Search users"
          aria-label="Search"
        />
        <i class="fa-solid fa-magnifying-glass icon-dark"></i>
      </div>
      <!--DM SEARCHBAR-->

      <!--TABLE-->
      <div class="table-responsive user-management-table">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Username</th>
              <th scope="col">Phone number</th>
              <th scope="col">Email</th>
              <th scope="col">Role</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
            <tr>
              <th scope="row">{{ user.user_id }}</th>
              <td>{{ user.username }}</td>
              <td>{{ user.phone_num }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.acc_type }}</td>
              <td class="d-flex justify-content-between">
                <button class="btn btn-primary edit-user-btn">
                  <i class="fa-solid fa-pen-to-square"></i>
                </button>

                <button class="btn btn-danger delete-user-btn">
                  <i class="fa-solid fa-trash"></i>
                </button>

                <!-- Ban User Button -->
                <form action="{{ url_for('admin.ban_user', user_id=user.user_id) }}" method="POST">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                  <button class="btn btn-warning ban-user-btn">
                    <i class="fa-solid fa-ban"></i>
                  </button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!--TABLE-->
    </div>
    <!--USER MANAGEMENT-->

    {% endblock content %}
  </body>
</html>
