<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

        <!--MY JS-->
        <script
        src="{{ url_for('static', filename='js/user_management.js') }}"
        defer
      ></script>
      <!--MY JS-->
  </head>
  <body>
    {% include "navbar/sidebar.html" %}

    <div class="admin-content-wrapper">
      <h1 class="fw-bold my-3">User management</h1>

      <!--DM SEARCHBAR-->
      <div class="search-container my-4">
        <input
          class="form-control"
          type="search"
          placeholder="Search users"
          aria-label="Search"
        />
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
      <!--DM SEARCHBAR-->

      <!--TABLE-->
      <div class="table-responsive user-management-table">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Username</th>
              <th scope="col">Phone number</th>
              <th scope="col">Email</th>
              <th scope="col">Password</th>
              <th scope="col">Role</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>12345678</td>
              <td>mark@gmail.com</td>
              <td>Mark@123</td>
              <td>User</td>
              <td class="d-flex justify-content-between">
                <button class="btn btn-primary edit-user-btn">
                  <i class="fa-solid fa-pen-to-square"></i>
                </button>

                <button class="btn btn-danger delete-user-btn">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>86554454</td>
              <td>jacob@gmail.com</td>
              <td>jacob@123</td>
              <td>User</td>
              <td class="d-flex justify-content-between">
                <button class="btn btn-primary edit-user-btn">
                  <i class="fa-solid fa-pen-to-square"></i>
                </button>

                <button class="btn btn-danger delete-user-btn">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Mark</td>
              <td>12345678</td>
              <td>mark@gmail.com</td>
              <td>Mark@123</td>
              <td>User</td>
              <td class="d-flex justify-content-between">
                <button class="btn btn-primary edit-user-btn">
                  <i class="fa-solid fa-pen-to-square"></i>
                </button>

                <button class="btn btn-danger delete-user-btn">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Jacob</td>
              <td>86554454</td>
              <td>jacob@gmail.com</td>
              <td>jacob@123</td>
              <td>User</td>
              <td class="d-flex justify-content-between">
                <button class="btn btn-primary edit-user-btn">
                  <i class="fa-solid fa-pen-to-square"></i>
                </button>

                <button class="btn btn-danger delete-user-btn">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>Mark</td>
              <td>12345678</td>
              <td>mark@gmail.com</td>
              <td>Mark@123</td>
              <td>User</td>
              <td class="d-flex justify-content-between">
                <button class="btn btn-primary edit-user-btn">
                  <i class="fa-solid fa-pen-to-square"></i>
                </button>

                <button class="btn btn-danger delete-user-btn">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td>Jacob</td>
              <td>86554454</td>
              <td>jacob@gmail.com</td>
              <td>jacob@123</td>
              <td>User</td>
              <td class="d-flex justify-content-between">
                <button class="btn btn-primary edit-user-btn">
                  <i class="fa-solid fa-pen-to-square"></i>
                </button>

                <button class="btn btn-danger delete-user-btn">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </td>
            </tr>
            <tr>
              <th scope="row">7</th>
              <td>Mark</td>
              <td>12345678</td>
              <td>mark@gmail.com</td>
              <td>Mark@123</td>
              <td>User</td>
              <td class="d-flex justify-content-between">
                <button class="btn btn-primary edit-user-btn">
                  <i class="fa-solid fa-pen-to-square"></i>
                </button>

                <button class="btn btn-danger delete-user-btn">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </td>
            </tr>
            <tr>
              <th scope="row">8</th>
              <td>Jacob</td>
              <td>86554454</td>
              <td>jacob@gmail.com</td>
              <td>jacob@123</td>
              <td>User</td>
              <td class="d-flex justify-content-between">
                <button class="btn btn-primary edit-user-btn">
                  <i class="fa-solid fa-pen-to-square"></i>
                </button>

                <button class="btn btn-danger delete-user-btn">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </td>
            </tr>
            <tr>
              <th scope="row">9</th>
              <td>Mark</td>
              <td>12345678</td>
              <td>mark@gmail.com</td>
              <td>Mark@123</td>
              <td>User</td>
              <td class="d-flex justify-content-between">
                <button class="btn btn-primary edit-user-btn">
                  <i class="fa-solid fa-pen-to-square"></i>
                </button>

                <button class="btn btn-danger delete-user-btn">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </td>
            </tr>
            <tr>
              <th scope="row">10</th>
              <td>Jacob</td>
              <td>86554454</td>
              <td>jacob@gmail.com</td>
              <td>jacob@123</td>
              <td>User</td>
              <td class="d-flex justify-content-between">
                <button class="btn btn-primary edit-user-btn">
                  <i class="fa-solid fa-pen-to-square"></i>
                </button>

                <button class="btn btn-danger delete-user-btn">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </td>
            </tr>
            <tr>
              <th scope="row">11</th>
              <td>Mark</td>
              <td>12345678</td>
              <td>mark@gmail.com</td>
              <td>Mark@123</td>
              <td>User</td>
              <td class="d-flex justify-content-between">
                <button class="btn btn-primary edit-user-btn">
                  <i class="fa-solid fa-pen-to-square"></i>
                </button>

                <button class="btn btn-danger delete-user-btn">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </td>
            </tr>
            <tr>
              <th scope="row">12</th>
              <td>Jacob</td>
              <td>86554454</td>
              <td>jacob@gmail.com</td>
              <td>jacob@123</td>
              <td>User</td>
              <td class="d-flex justify-content-between">
                <button class="btn btn-primary edit-user-btn">
                  <i class="fa-solid fa-pen-to-square"></i>
                </button>

                <button class="btn btn-danger delete-user-btn">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--TABLE-->
    </div>
  </body>
</html>
