<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand ms-3 me-5" href="#">EarthEcho</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse d-flex justify-content-between"
      id="navbarSupportedContent"
    >
      <div class="search-container">
        <input
          class="form-control rounded-pill"
          type="search"
          placeholder="Type here for search"
          aria-label="Search"
        />
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>

      <div class="mx-5 d-flex align-items-center">
        <i
          class="fa-solid fa-square-plus fa-2xl mx-3"
          style="color: #ffffff; cursor: pointer"
        ></i>
        <div class="dropdown text-center">
          <i
            class="fa-solid fa-user fa-2xl mx-3"
            style="color: #ffffff; cursor: pointer"
            data-bs-toggle="dropdown"
          ></i>
          <ul
            class="dropdown-menu position-absolute start-50 translate-middle-x mt-3"
          >
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><a class="dropdown-item" href="#">My posts</a></li>
            <li><a class="dropdown-item" href="#">Messages</a></li>
            <li><a class="dropdown-item" href="#">Favourites</a></li>
            <li><a class="dropdown-item" href="#">Unban request</a></li>
            <li><a class="dropdown-item" href="#">Logout</a></li>
          </ul>
        </div>
        <div class="dropdown text-center">
          <i
            class="fa-solid fa-clover fa-2xl mx-3"
            style="color: #ffffff; cursor: pointer"
            data-bs-toggle="dropdown"
          ></i>
          <ul
            class="dropdown-menu position-absolute start-50 translate-middle-x mt-3"
          >
            <li><a class="dropdown-item" href="#">Points shop</a></li>
            <li><a class="dropdown-item" href="#">Vouchers</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
