// Import Bootstrap's SCSS variables and functions
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

// Override Bootstrap variables here
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  // CUST
  "lavender": #dcd6f7,
  "peri": #a6b1e1,
  "puce": #b4869f,
  "rose": #985f6f,
  "violet": #4e4c67,
  // ADMIN
  "rosy": #c89f9c,
  "lemon": #f4f1bb,
  "ash": #9bc1bc,
  "wenge": #5d576b,
  "alabaster": #e6ebe0,
  // OTHERS
    "red": #ff0000
);

$white: #ffffff;
$black: #000000;
// CUST
$lavender: #dcd6f7;
$peri: #a6b1e1;
$puce: #b4869f;
$rose: #985f6f;
$violet: #4e4c67;
// ADMIN
$rosy: #c89f9c;
$lemon: #f4f1bb;
$ash: #9bc1bc;
$wenge: #5d576b;
$alabaster: #e6ebe0;

$headings-margin-bottom: $spacer * 0;
$headings-color: $violet;
$paragraph-margin-bottom: $spacer * 0;
$paragraph-color: $violet;
$alert-border-radius: 0;

// Import the rest of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// Custom styles
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: $lavender;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/*ICONS*/
i {
  cursor: pointer;
  color: $white;
}

.icon-dark {
  color: $violet;
}

.icon-red {
  color: $red;
}

.icon-rose {
  color: $rose;
}

/*ICONS*/

/*TEXT*/
p {
  color: $violet;
}

.p-light {
  color: $white;
}

.p-dark {
  color: $lavender
}

.p-rose {
  color: $rose
}

/*TEXT*/

/*BUTTONS*/
.btn-rose {
  color: $white;
}

.btn-light {
  border-radius: 0;
  margin-right: 10px;
  color: $violet;
}

.btn-violet {
  border-radius: 0;
  color: $white;
}

.btn-peri {
  color: $white;
}
/*BUTTONS*/

/*SEARCHBAR*/
.search-container input[type="search"] {
  padding: 10px 40px 10px 20px;
  width: 100%;
  border: $black;
  box-shadow: none;
  appearance: none;
}

.search-container .fa-magnifying-glass {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.search-container input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

/*SEARCHBAR*/

/*OTHERS*/
.short-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form-check .form-check-input {
  box-shadow: none; border: 0;
}

.hr-nomargin {
  margin: 0px -12px;
}

.card {
  cursor: pointer;
}
/*OTHERS*/

/* NAVBAR CONTAINER */
nav .navbar-brand,
nav .navbar-brand:hover,
nav .navbar-brand:focus,
nav .navbar-brand:active {
  color: $white;
  font-weight: bold;
  font-size: 40px;
}

nav .navbar-toggler,
nav .navbar-toggler:focus {
  box-shadow: none;
  background-color: $white;
}

nav .dropdown-menu {
  min-width: 0;
  background-color: $peri;
}

nav .dropdown-item:active {
  color: $violet;
  background-color: $white;
}

@media only screen and (min-width: 992px) {
  nav .dropdown:hover .dropdown-menu {
    display: block;
  }
}

nav .search-container {
  position: relative;
  width: 100%;
}

/* NAVBAR CONTAINER */

/*LOGIN CUST*/
.login-top,
.register-top {
  width: 100%;
}

@media only screen and (min-device-width : 992px) {

  .login-top,
  .register-top {
    width: 60%;
  }

}

@media only screen and (min-device-width : 480px) and (max-device-width : 992px) {

  .login-top,
  .register-top {
    width: 70%;
  }

}

.recaptcha {
  width: 220px;
  height: 60px;
}

.login-btn,
.register-btn {
  width: 220px;
}

.google-btn,
.apple-btn {
  margin-left: auto;
}

.google-btn,
.microsoft-btn,
.apple-btn,
.facebook-btn {
  width: 240px;
}

.phone-input {
  margin-left: 20px;
  width: 60%;
}

.username-input {
  width: 40%;
}

@media only screen and (max-width: 578px) {

  .google-btn,
  .microsoft-btn,
  .apple-btn,
  .facebook-btn {
    margin: auto;
  }

  .phone-input {
    margin: auto;
    width: 100%;
  }

  .username-input {
    margin: auto;
    width: 100%;
  }

}

/*LOGIN CUST*/

/*MESSAGE USER CONTAINER*/
.dm-users-searchbar .search-container {
  position: relative;
  width: 40%;
}

@media only screen and (max-width: 768px) {
  .dm-users-searchbar .search-container {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
  }
}

.dm-users-dropdown a:hover {
  color: $white;
  background-color: $puce;
}

.dm-users-container {
  border: 1px solid black;
  margin-top: 60px;
}

.dm-user {
  padding: 20px 0px;
}

@media only screen and (max-width: 768px) {
  .dm-user .short-text {
    margin-top: 10px;
  }

  .dm-user .btn {
      margin-top: 10px;
    }
}

/*MESSAGE USER CONTAINER*/

/*CHAT CONTAINER*/
.message-reply {
  min-height: 80px;
}
/*CHAT CONTAINER*/

/*FAVOURITES CONTAINER*/
.fav-card {
  height: 300px;
  max-width: 200px;
}

.fav-card img {
  height: 200px;
  object-fit: cover;
  object-position: 50% 20%;
}

/*FAVOURITES CONTAINER*/

/*POINTS SHOP CONTAINER*/
/*POINTS TITLE*/
.points-title {
  height: 55px;
}

@media only screen and (max-width: 576px) {
  .points-title {
    height: 70px;
  }
}

/*POINTS TITLE*/

/*CARDS CONTAINER*/
.card {
  height: 300px;
}

.card img {
  height: 150px;
  object-fit: cover;
  object-position: 50% 20%;
}

@media only screen and (max-width: 320px) {
  .card {
    height: 250px;
  }

  .card-title {
    height: 50px;
    font-size: 1.1rem;
  }
}

/*CARDS CONTAINER*/

/*MODEL CONTAINER*/
.modal-header {
  display: flex;
  justify-content: center;
  padding: 0;
}

.modal-header img {
  position: relative;
  border-radius: 5px 5px 0px 0px;
}

.modal-header button {
  position: absolute;
  top: 15px;
  right: 15px;
}

/*MODEL CONTAINER*/

/*CARD BUTTONS*/
.points-modals .form-check-input {
  display: none;
}

.custom-radio-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid $puce;
  color: $violet;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}

.form-check-input:hover+.custom-radio-button, 
.form-check-input:checked+.custom-radio-button{
  background-color: $rose;
  color: $white;
}

.fa-chevron-left {
  position: absolute; 
  top: 15px; 
  left: 5px
}
/*CARD BUTTONS*/

/*CHECKMARK ANIMATION*/
.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #4CAF50;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #4CAF50;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0
  }
}

@keyframes scale {

  0%,
  100% {
    transform: none
  }

  50% {
    transform: scale3d(1.1, 1.1, 1)
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #4CAF50
  }
}

/*CHECKMARK ANIMATION*/
/*POINTS SHOP CONTAINER*/

/*VOUCHERS CONTAINER*/
.vou-container .card {
  height: 300px;
  max-width: 200px;
}

.vou-container .card img {
  height: 200px;
  object-fit: cover;
  object-position: 50% 20%;
}

/*VOUCHERS CONTAINER*/

/*MY PROFILE*/
.my-profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.update-btn {
  border: 1px solid #5d576b;
}

.update-btn:hover {
  background-color: #ffffff;
}

#cancel-btn {
  background-color: #5d576b;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
}

#delete-btn {
  background-color: #ed5e68;
  border: none;
  padding: 10px 20px;
}

#edit-username label,
#edit-phone label,
#edit-email label,
#reset-password label {
  color: #5d576b;
}

#edit-username input,
#edit-phone input,
#edit-email input,
#reset-password input {
  border: 1px solid rgb(194, 194, 194);
  box-shadow: none;
  appearance: none;
}

.image-container {
  position: relative;
  display: inline-block;
}

.pen {
  position: absolute;
  top: 12%;
  left: 0%;
  display: none;
  opacity: 0.5;

  background-color: #818181;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.image-container:hover .pen,
.image-container:hover .pen-icon {
  display: block;
}

.pen-icon {
  position: absolute;
  top: 40%;
  left: 25%;
  display: none;
  opacity: 1;
  color: #ffffff;
}

/*MY PROFILE*/