<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Post</title>
  </head>

  <body>
    {% include "navbar/user_navbar.html" %} {% include "user/customerBase.html" %}

    <div class="container-md mt-sm-5 mt-4 mb-5">
      <h2 class="fw-bold">Create Post</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flashes">
          {% for category, message in messages %}
            <li class="alert alert-{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    
    {% block body %}
    <div class="form-container d-grid justify-content-center p-3" >
      <form method="post" enctype="multipart/form-data" style="border: 3px solid black; border-radius: 25px; margin: 40px; padding: 10px">
        {{ form.hidden_tag() }}
        <div class="d-flex align-items-center">
          <div>
            <i class="fa-solid fa-user me-2 ms-1"></i>
            <label for="{{ form.username.id }}" class="form-label">Username: </label>
            <span>{{ form.username.data }}</span>
            <label for="{{ form.date_created.id }}" class="form-label">Date Created: </label>
            <span>{{ form.date_created.data }}</span>
          </div>


        </div>
        {{ form.csrf_token }}
        <label for="{{ form.header.id }}" class="form-label">Header:</label><br>
        {{ form.header(size=60) }}<br><br>
        <label for="{{ form.image.id }}" class="form-label">Image:</label>
        {{ form.image() }}
        <label for="{{ form.topic.id }}" class="form-label">Topic:</label>
        {{ form.topic() }}<br><br>
        <label for="{{ form.body.id }}" class="form-label">Body:</label><br>
        {{ form.body(rows=10) }}<br><br>
        {{ form.submit() }}
    </form>
    </div>

    <ul class="list-group">
      {% for post in Posts %}
          <li class="list-group-item">
              <a href="{{ url_for('view.view_post', id=post.id) }}">{{ post.header }}</a>
          </li>
      {% endfor %}
    </ul>
    {% endblock %}
  </body>
</html>
