<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<style>
  .carousel-inner img {
    width: 1030px;
    height: 550px;
  }
</style>

<body>
  {% extends 'user/user_base.html' %}

  {% block content %}

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class="flashes px-0">
        {% for category, message in messages %}
          <li class="alert alert-{{ category }} text-center">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <div class="container">
    <h2 class="fw-bold mt-5">Hot Topics</h2>
    <div id="carouselExampleIndicators" class="carousel slide my-3">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{{ url_for('static', filename='images/deforestation.jpg') }}" class="d-block mx-auto" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{{ url_for('static', filename='images/climatechange.jpg') }}" class="d-block mx-auto" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{{ url_for('static', filename='images/waterpollution.jpg') }}" class="d-block mx-auto" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <h2 class="fw-bold mt-5">Recent Posts</h2>
    <div class="row">
      {% for post in all_posts[:5] %}
          <div class="col-lg-2 col-md-4 col-sm-6 mb-4 d-flex justify-content-center">
              <div class="card post-card" style="width: 100%;">
                  {% if post.image_data %}
                      <img src="data:image/jpeg;base64,{{ post.image_data }}" alt="Post Image" class="card-img-top post-image">
                  {% else %}
                      <img src="{{ url_for('static', filename='images/default.jpg') }}" alt="Default Image" class="card-img-top post-image">
                  {% endif %}
                  <div class="card-body post-content text-center">
                      <h5 class="fw-bold">{{ post.header }}</h5>
                      <p><strong>By: {{ post.username }}</strong></p>
                      <br>
                      <p><a href="{{ url_for('bp.post', post_id=post.post_id) }}" class="blog-post-link">See More!</a></p>
                  </div>
              </div>
          </div>
      {% endfor %}
    </div>
  </div>

  <footer class="p-4" style="background-color: #f1f1f1;">
    <div class="d-flex justify-content-between align-items-top">
      <div>
        <p class="mb-3 fw-bold">Follow us on our social media</p>
        <a href="#" class="mx-2"><img src="{{ url_for('static', filename='images/facebook.png') }}" alt="Facebook" style="width: 45px; height: 45px;"></a>
        <a href="#" class="mx-2"><img src="{{ url_for('static', filename='images/twitter.png') }}" alt="Twitter" style="width: 45px; height: 45px;"></a>
        <a href="#" class="mx-2"><img src="{{ url_for('static', filename='images/Instagram_icon.png') }}" alt="Instagram" style="width: 45px; height: 45px;"></a>
      </div>

      <form style="width: 500px;">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else</div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </footer>

  {% endblock content %}
</body>
</html>
