<!--SKY HTML-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>

  <body>
    {% extends 'user/user_base.html' %}

    {% block content %}

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flashes px-0">
          {% for category, message in messages %}
            <li class="alert alert-{{ category }} text-center">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <!--LOGIN USER-->
    <div class="container-md mt-sm-5 mt-4 mb-4">
      <!--LOGIN TOP-->
      <div class="container-fluid text-center login-top">
        <h1 class="fw-bold mb-5">Log in</h1>

        <form method="POST" class="needs-validation" novalidate>
          {{ login_form.hidden_tag() }}

          <div class="mb-3 mx-auto">
            {{ login_form.username_or_email(class="form-control border-0 shadow-none", placeholder="Username or Email") }}
            {% for error in login_form.username_or_email.errors %}
              <div class="invalid-feedback d-block text-start">{{ error }}</div>
            {% endfor %}
          </div>
  
          <div class="mb-3 mx-auto">
            {{ login_form.passwd(class="form-control border-0 shadow-none", placeholder="Password") }}
            {% for error in login_form.passwd.errors %}
              <div class="invalid-feedback d-block text-start">{{ error }}</div>
            {% endfor %}
          </div>
  
          <div class="d-flex justify-content-between mx-auto">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="remember-checkbox"
              />
              <label>
                Remember me?
              </label>
            </div>
  
            <a href="#">Forgot password?</a>
          </div>
  
          <div
            class="d-flex justify-content-between align-items-center p-2 mx-auto my-4 bg-violet recaptcha"
          >
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="robot-checkbox"
              />
              <label for="robot-checkbox" class="p-light">
                I'm not a robot
              </label>
            </div>
  
            <img
            class="h-100"
              src="{{ url_for('static', filename='images/sky/recaptcha.png') }}"
              alt=""
            />
          </div>
  
          <button class="btn btn-rose login-btn" type="submit">Log in</button>
        </form>
      </div>
      <!--LOGIN TOP-->

      <div class="row align-items-center my-3">
        <div class="col"><hr /></div>
        <div class="col-auto">
          <p>OR</p>
        </div>
        <div class="col"><hr /></div>
      </div>

      <div class="container text-center">
        <!--LOGIN BUTTONS-->
        <div class="row row-cols-1 row-cols-sm-2 gy-2 gx-5 mb-4">
          <div class="col">
            <button
              class="btn btn-violet d-flex align-items-center justify-content-center p-3 google-btn"
            >
              <i class="fa-brands fa-google fa-2xl"></i>
              <p class="fw-bold ms-3 p-light">
                Log in with Google
              </p>
            </button>
          </div>
          <div class="col">
            <button
              class="btn btn-violet d-flex align-items-center justify-content-center p-3 microsoft-btn"
            >
              <i
                class="fa-brands fa-microsoft fa-2xl"
              ></i>
              <p class="fw-bold ms-3 p-light">
                Log in with Microsoft
              </p>
            </button>
          </div>
          <div class="col">
            <button
              class="btn btn-violet d-flex align-items-center justify-content-center p-3 apple-btn"
            >
              <i
                class="fa-brands fa-apple fa-2xl"
              ></i>
              <p class="fw-bold ms-3 p-light">
                Log in with Apple
              </p>
            </button>
          </div>
          <div class="col">
            <button
              class="btn btn-violet d-flex align-items-center justify-content-center p-3 facebook-btn"
            >
              <i class="fa-brands fa-facebook fa-2xl"></i>
              <p class="fw-bold ms-3 p-light">
                Log in with Facebook
              </p>
            </button>
          </div>
        </div>
        <!--LOGIN BUTTONS-->
  
        <div class="my-3">
          <p class="d-inline">Don't have an account?</p>
          <a href="{{ url_for('auth.register') }}">Register here!</a>
        </div>
        <div>
          <a href="{{ url_for('admin.admin_login') }}">Are you an admin?</a>
        </div>   
      </div>
    </div>
    <!--LOGIN USER-->
    {% endblock content %}
  </body>
</html>
